* {
    box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
    height: 4px
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: darkviolet;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightblue;
}
